<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Keras.NET" version="3.8.5" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Numpy.Bare" version="3.8.1.25" targetFramework="net472" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net472" />
  <package id="pythonnet_py36_win" version="2.5.1.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
</packages>